langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-huggingface
langsmith

faiss-cpu
rank-bm25

pymupdf
pytesseract
opencv-python
sentence-transformers
torch

streamlit
python-dotenv
pydantic